*
!aliases
!aliases_arch
!picom.conf
!zoomus.conf
!.gitignore

!alacritty
!alacritty/**

!systemd
!systemd/**

!fish
!fish/**

!zsh
!zsh/**

!nvim
!nvim/**

!polybar
!polybar/**

!Configs
!Configs/**

!nitrogen
!nitrogen/**

!GIMP/
!GIMP/**

!pcmanfm
!pcmanfm/**

!openbox
!openbox/**

!bleachbit
!bleachbit/**

!redshift
!redshift/**

!rofi
!rofi/**

!spectrwm
!spectrwm/**

!tmux
!tmux/**

!terminator
!terminator/**
